{% extends 'layouts/base.html' %}

{% block title %}Confirmar Exclusão{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>Confirmar Exclusão</h1>
  </section>
  <section class="content">
    <p>Tem certeza de que deseja excluir a folha de pagamento de <strong>{{ object.nome_funcionario }}</strong>?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Excluir</button>
      <a href="{% url 'financeiro:lista_folhas_pagamento' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </section>
</div>
{% endblock content %}
