{% extends 'layouts/base.html' %}

{% block title %}Detalhes do Contrato{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1>Detalhes do Contrato</h1>
    <a href="{% url 'financeiro:lista_contratos' %}" class="btn btn-secondary mb-3">Voltar</a>

    <h3>Informações do Contrato</h3>
    <p><strong>Fornecedor:</strong> {{ contrato.fornecedor.nome }}</p>
    <p><strong>Data de Início:</strong> {{ contrato.data_inicio }}</p>
    <p><strong>Data de Fim:</strong> {{ contrato.data_fim }}</p>
    <p><strong>Valor Total:</strong> R$ {{ contrato.valor_total }}</p>

    {% if contrato.arquivo_contrato %}
    <p><strong>Arquivo do Contrato:</strong> <a href="{{ contrato.arquivo_contrato.url }}" download>Baixar Contrato</a></p>
    {% endif %}
</div>
{% endblock content %}
