{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Adicionar/Editar Despesa{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>{% if object %}Editar Despesa{% else %}Adicionar Despesa{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'financeiro:lista_despesas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}
