<!-- calendario/templates/calendario/deleta_evento.html -->
{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Deletar Evento{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Deletar Evento</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Início</a></li>
                        <li class="breadcrumb-item active">Deletar Evento</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <p>Tem certeza de que deseja deletar o evento "{{ evento.title }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
                <a href="{% url 'calendario' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </section>
</div>
{% endblock content %}