{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Adicionar/Editar Veículo{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h1>{{ view.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-3">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'frota:lista_veiculos' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
