<!-- votacao/templates/votacao/deleta_votacao.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Deletar Votação{% endblock title %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Deletar Votação</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Início</a></li>
                        <li class="breadcrumb-item active">Deletar Votação</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <p>Tem certeza de que deseja deletar a votação para a proposta "{{ votacao.proposta.titulo }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
                <a href="{% url 'lista_votacoes' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </section>
{% endblock content %}